/* Using a font that is similar to the original site. */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
::selection {
  background-color: rgb(21, 2, 143); 
}

/* For older WebKit browsers (like some Safari versions) */
::-moz-selection {
  background-color: rgb(21, 2, 143)
}
body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.navbar{
    display: flex;
    width: 110vw;
    height: 80px;
    justify-content: center;
    position: fixed;
    z-index: 99;
    top: 0;
    background-color: black;
    transition: top 0.5s ease-in-out;
}
.logo{
    height: 25px;
    width: 50px;
    position: absolute;
    left: 5%;
    padding: 10px;
}
.logo-txt{
    font-size: 1rem;
    position: absolute;
    left: 5%;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.logo:hover{
    transform: scale(0.5) translateX(100px) translateY(-30px);
    transition: transform 0.5s ease-in-out;

}
.logo-div{
    width: 50px;
    height: 25px;
}
.logo-div:hover > .logo-txt{
    visibility: visible;
    opacity: 1;
}
.nav-links{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-top: 17px;
}
.nav-links a{
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-decoration: none;
    font-weight: 100;
}
.nav-links a:hover{
    color: #555;
    transition: color ease-in-out 0.2s;
}
.header{
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 0px;
}
.text-under-header{
    font-size: 1.3rem;
    line-height: 28px;
    max-width: 45vw;
    width: inherit;
}
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: flex-start;
    margin-top:0rem;
    line-height: 3rem;
    width: 100vw;
    height: 100vh;
}
.vid2{
    width: 600px;
    height: fit-content;
    margin-top: 7rem;
    padding: 0px;
}
.video-class{
    width: 600px;
    height: fit-content;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    padding: 0px 5px;
    box-sizing: border-box;
}

.video-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video-text {
    text-align: center;
}

.logo {
    max-width: 80%;
    height: auto;
}



.learn-more-button {
    position: relative; /* Essential for positioning the pseudo-element */
    background-color: rgb(0, 47, 255);
    color: white;
    padding: 1rem 1.2rem;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden; /* Hides the pseudo-element until it's ready to slide */
    z-index: 1; /* Ensures the button text is on top */
}

/* Pseudo-element for the sliding background */
.learn-more-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0; /* Initially has no width */
    height: 100%;
    background-color: rgb(4, 28, 139); /* The new background color */
    transition: width 0.5s ease-in-out; /* Animates the width */
    z-index: -1; /* Positions it behind the button text */
}

/* Hover state: expand the pseudo-element to cover the button */
.learn-more-button:hover::after {
    width: 100%;
}
.sect2{
    width: 95vw;
    height: 55rem;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    justify-self: center;
    padding-left: 30px;
}
.imgsect {
    color: rgb(255, 255, 255);
    width: 16.7rem;
    height: 25rem;
    position: relative;
    overflow: hidden;
}

.imgsect::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
    transition-property: all;
   transition-duration: 0.3s;
   transition-timing-function: cubic-bezier(0.2, 0.2, 0.8, 1.0);
    z-index: 0; /* Place behind the other pseudo-element and content */
}

/* Define the background images for each element */
.img1::before {
    background-image: url(card1.jpg);
}

.img2::before {
    background-image: url(card2.jpg);
}

.img3::before {
    background-image: url(card3.jpg);
}

.img4::before {
    background-image: url(card4.webp);
}

.img5::before {
    background-image: url(card5.png);
}

.img6::before {
    background-image: url(card6.png);
}

.img7::before {
    background-image: url(card7.png);
}

.img8::before {
    background-image: url(card8.webp);
}
.img1::before:hover{
    transform: scale(1.05);
    transition: tranform 0.9s ease-in-out;
}
/* Apply the blur to the new pseudo-element on hover */
.imgsect:hover::before {
    filter: blur(30px);
    transform: scale(4) translateY(60px);
}
.imgsect::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /* Apply the gradient to the pseudo-element */
    background-image: linear-gradient(to right bottom, rgb(40, 4, 82), rgb(0, 0, 0));
    opacity: 0; /* Starts as fully transparent */
    transform: scale(1);
    transition: opacity 0.5s ease-in-out;
    transform-origin: center center;
    z-index: 1;
}

.imgsect:hover::after {
    opacity: 0; /* You can adjust this value for the desired level of dimming */
}
.imgsect{
    cursor: pointer;
}

.txt {
    justify-self: left;
    padding-left: 20px;
    z-index: 2;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-size:0.8rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.black{
    color: black;
}
.txt, .txt2 {
    position: relative; /* This is crucial for z-index to work */
    z-index: 2; /* Set to a higher value than the ::after element's z-index */
    transition: transform 0.5s ease; /* Add a transition for the lift effect */
}
.explore-btn {
    visibility: hidden;
    padding-right: 30px;
    justify-self: right;
    padding-top: 0rem;
    position: relative; /* Add position for proper z-index and layout */
    z-index: 2; /* Ensure it's above other elements */
    transform: translateY(40px); /* Start the button 20px below its final position */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out; /* Transition both properties */
}
.font-sizeinc{
    font-size: 1rem;
    font-weight: 100;
}

.topic{
    font-size: 1.3rem;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 20px;
    max-width: 14rem;
}
.imgsect:hover .explore-btn {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); /* Slide the button up to its final position */
}
.imgsect:hover{
    transform: scale(1.05);
    transition: tranform 0.5s ease-in-out;
}
.txt2 {
    justify-self: right;
    visibility: hidden;
    padding-top: 4rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    max-width: 12rem;
    z-index: 99;
    opacity:0;
    transform: translateX(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, visibility 0s 0.5s; /* Delay visibility on mouse leave */
}

.imgsect:hover > .txt2 {
    opacity: 1;
    visibility: visible;
    transform: translateX(-32px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Reset transition for hover state */
}
@media (max-width: 880px){ 
    .sect2 {
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        height: 70rem;
        width: 120vw;
        justify-content: space-between;
        justify-items: center;
        justify-self: center;
        margin: 0 auto;
        
    }
    .imgsect{
        width: 14rem;
        height: 20rem;
        padding-left: 80px;
    }
    .txt{
        font-size: 0.7rem;
        padding-left: 10px;
    }
    .txt2{
        font-size: 1rem;
        padding-top: 3rem;
    }
    .topic{
        font-size: 1rem;
        max-width: 14rem;
        padding-left: 10px;
    }


}
@media (max-width: 768px){
.sect2 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(8, 20rem); /* Change to fixed units */
    padding-left: 0rem;
    height: 22rem;
    width: 100%; /* Set a fixed width to create overflow */
    justify-content: start; /* Change to start to prevent centering issues */
    margin-top: 7rem;
    overflow-x: scroll; /* This will now work */
}
    .imgsect{
        padding-left: 80px;
    }
    /* Style the entire scrollbar */
.sect2::-webkit-scrollbar {
    height: 10px;/* Set the height of the horizontal scrollbar */
    padding: 30px; 
}

/* Style the scrollbar track */
.sect2::-webkit-scrollbar-track {
    background: #a9a7a7; /* Light gray background */
}

/* Style the scrollbar handle (the draggable part) */
.sect2::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255); /* Dark gray handle */
    border-radius: 0px;
    border-width: 1px 12px; /* Top/Bottom is 3px, Left/Right is 5px */
    border-style: solid;
    border-color: black;
}

/* Change the handle color on hover */
.sect2::-webkit-scrollbar-thumb:hover {
    background: #0e0e0e; /* Even darker gray on hover */
}
    html{
        overflow-x: hidden;
    }
    .main-container{
        diplay: grid;
        grid-template-columns: 100%;
        
        width: 80vw;
    }
    .vid2{
       height:200px;
       width: 90vw;
       padding: 0px;
       margin: 0 auto;
       justify-self: center;
    }
    .video-class{
        width:500px;
        justify-content: center;
        margin-top: 0rem;
        height: fit-content;
    }
    .nav-links a{
        visibility: hidden;
    }
    .header{
        font-size: 2rem;
        justify-self: center;
        padding-left: 0px;
        line-height: 2.5rem;
        max-width: 340px;
    }
    .content-container{
        height: fit-content;
        padding-left: -10px;
        line-height: 2rem;
    }
    .text-under-header{
        max-width: 340px;
        justify-self: center;
        padding-left: 0px;
        line-height: 1.3rem;
        font-size: 1rem;
    }
    .txt{
        justify-self: left ;
        padding: 0px;
    }

}


.sect3{
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding-left: 7rem;
    height: 20rem;
    border-radius: 10px;
    margin-top: 5rem;
    justify-content: left;
    justify-self: left;
    
}
/* This is the general, non-media query .sect3 rule */

/* All other general styles that are not media queries should go here */


.tag-img{
    width: 450px;
    justify-self: center;
}
.tag{
    font-size: 1.5rem;
    font-weight: 600;
    max-width: 26rem;
    text-align: flex-start;
}
.under-tag{
    font-size: 1rem;
    line-height: 50px;
}
.text-sect3{
    justify-self: center;
    align-self: center;
    padding-left: 5rem;
    max-width: 26rem;
}
.read-more{
    font-weight: 600;
    font-size: 1.1rem;
}
.read-more-btn {
  background-color: rgb(0, 47, 255);
  color: white;
  text-align: center;
  height: 25px;
  width: 25px;
  border: none;
  margin-left: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  /* The fix */
  position: relative;
  overflow: hidden; /* This hides the overflowing background as it animates */
  z-index: 1; /* Ensures the button content is above the pseudo-element */
  transition: transform 0.2s ease-in-out;
}

.read-more-btn::after {
  content: '';
  /* The fix */
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgb(4, 28, 139);
  transition: width 0.5s ease-in-out;
  z-index: -1;
}

.read-more-btn:hover::after {
  width: 100%;
}
.read-more-btn:hover{
    transform: translateX(5px);
}
/* Basic styling for positioning */
body {
  /* Set a min-height on the body to ensure enough scroll space */
  min-height: 600vh;
}

.sect4 {
  padding-top: 4rem;
  /* Give the container height to create the scroll effect */
  height: 100vh;
}

.sect3-img {
  /* Initial state of the image */
  width: 100vw;
  /* Use a position for centering the image */
  top: 0%;
  left: 0%;
  position: relative;
  justify-self: left;
}
.sect4-txt{
    justify-self: right;
    font-size: 1.7rem;
    margin-top: -35rem;
    max-width: 20rem;
    height: fit-content;
    padding-right: 10rem;
    opacity: 1; /* Start hidden */
}
.under-tag2{
    font-size: 1.4rem;
    line-height: 28px;
    padding-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header2{
    font-family: Montserrat, sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2.4rem;
}
.txt3{
    font-size: 1.2rem;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media (max-width: 768px) {

    .sect3 {
        flex-direction: column;
        height: fit-content;
        padding-left: 0px;
        margin-top: 3rem;
        align-items: center;
        text-align: left;
        justify-self: center;
    }
   .text-sect3{
    justify-self: center;
    align-self: center;
    padding-left: 0rem;
    max-width: 21rem;
}
.tag{
    font-size: 1.2rem;
}
.tag-img{
    justify-self: center;
    padding: 20px
}
.sect4 {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    align-items: center;
    width: 100vw;
   padding: 0px;
}
.sect4-txt{
    margin-top: 4rem;
    max-width: 100vw;
    padding: 37px 10px;
    line-height: 2rem;
}
.header2{
    font-size: 1.5rem;
    line-height: 3rem;
}
}