body{
  width: 100vw;
  height: 300vh;
  margin: 0 auto;
  min-height: 100vh;
}
.container{
  width: 100vw;
  height:fit-content;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin-right: 3rem;
}
.logo {
  width: 48px;
  height: 48px;
  transition: transform 0.3s;
  margin-top: -20px;
}
.nav-links li a {
  color: #2c2d2e;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  transition: color 0.5s ease-in-out;
}

.nav-links li a:hover {
  color: #2258a2;
}
.navbar {
  width: 100%;
  background: rgba(231, 229, 229, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.navbar::after{
  backdrop-filter: blur(15px);
}
.headersect{
    top: 30%;
    display: grid;
    grid-template-columns: 48% 52%;
    width: 100%;
}
.headline{
    margin-top: 30%;
    justify-self: left;
    justify-content: left;

}
.blue-txt{
  color: #3884efff;
  letter-spacing: 1px;
}
.tagline{
    color: #2c2d2e;
    font-size: 5rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding-left: rem;
    margin-top: -4rem;
    margin-left: 3rem;
}
.italic{
    
}
.video{
    justify-content: center;

    
}
.vid1{
    border-radius: 5%;
    margin-top: 15vh;
    height: fit-content;
    width: fit-content;
    max-height: 450px;
}
@media (max-width: 768px){
  .headersect{
    display: grid;
    grid-template-columns: 100%;
  }
  .tagline{
    font-size: 2.5rem;
    max-width: 350px;
    padding-right: 15px;
    width: 100vw;
    padding-right: 20px;
    justify-self: center;
    margin-right: 30px;
    text-align: center;
  }
  .headline{
    width: 100vw;
  }
  .vid1{
   justify-self: center;
   margin: 0 auto;
    width: 100vw;
  }
  .video{
    justify-content: center;
  }
  .headersect{
    width: 100vw;
  }
  .navbar{
    width: 70vw;
    justify-self: center;
    padding: 0px;
    left: -10%
  }
  .sect2{
    margin-left: -20rem;
  }
}
.CTA1 {
  background-color: #3884efff;
  border-radius: 15px;
  border: none;
  padding: 11px 30px;
  margin: 0 auto;
  box-shadow: 0 4px 16px 0 #63636300;
  position: relative;
  z-index: 2;
  top: 100%;
  margin-top: 0px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
}
.CTA1:hover {
  color: #ffffff;
  background-color: #142150;
  transition: color 0.3s ease-in-out, background-color 0.5s ease-in-out;
}
.body-text{
  color: #2c2d2e;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  max-width: 35rem;
  justify-self: center;
  animation: fadein 0.7s ease-in forwards;
}
.sect2{
  width:80vw;
  height: 40rem;
  background-color: #142150;
  margin-top: 7rem;
  margin-left: -7rem;
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}